
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
        padding-right: 17px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

.quicksearch_frame input[type=submit] {
    background-image: url("../assets/images/icons/grey/search.svg"); 
}

form.default input[type="date"]{
    max-width: 10em !important;
}

tr.needs_fill {
    background-color: lightblue;
}